In [1]:
# Dependencies
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Public_Dataset.csv")
print(len(df))
dftest = df[pd.isnull(df['Lapse'])]
print(len(dftest))
df = df.dropna()
print(len(df))

173272
11398
161874

In [3]:
df.head()

,Pol_num,Iss_yr,Iss_mo,Iss_age,Gender,Fund_val,Cash_val,Fixed Amt,Var Amt,Surr_prem,...,GIASubType,EEGSubType,GPASubType,IARSubType,Product,LOB,Valuation Year,Qualification,Lapse,Exposure
0,VM13001002,2013,6,80,1,33376.89,31971.36,0.0,33376.89,36356.93,...,N,N,N,IARS,Pacific Choice Three,IRA,2016,Q,0.0,1
1,VM13001007,2013,8,67,1,92850.28,89615.38,0.0,92850.28,89858.31,...,N,N,N,N,Pacific Choice Three,ROC,2016,Q,0.0,1
2,VM13001014,2013,6,63,2,66057.57,63753.57,0.0,66057.57,64000.00,...,N,N,N,N,Pacific Choice Three,IRA,2016,Q,0.0,1
3,VM13001020,2013,6,76,1,794755.08,763168.31,0.0,794755.08,773243.70,...,N,N,N,N,Pacific Choice Three,NON,2016,N,0.0,1
4,VM13001021,2013,7,64,1,51421.90,49507.11,0.0,51421.90,50000.00,...,N,N,N,SCIAS,Pacific Choice Three,IRA,2016,Q,0.0,1

In [4]:
df.columns

Index(['Pol_num', 'Iss_yr', 'Iss_mo', 'Iss_age', 'Gender', 'Fund_val',
       'Cash_val', 'Fixed Amt', 'Var Amt', 'Surr_prem', 'Enhanced DB',
       'Reset DB', 'Max', 'Death', 'Ist', 'REST', 'Comm Opt', 'GPAY', 'IARY',
       'premium', 'withdraw', 'BD Channel', 'GIAFee', 'GPAFee', 'IARFee',
       'GIASubType', 'EEGSubType', 'GPASubType', 'IARSubType', 'Product',
       'LOB', 'Valuation Year', 'Qualification', 'Lapse', 'Exposure'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161874 entries, 0 to 161873
Data columns (total 35 columns):
Pol_num           161874 non-null object
Iss_yr            161874 non-null int64
Iss_mo            161874 non-null int64
Iss_age           161874 non-null int64
Gender            161874 non-null int64
Fund_val          161874 non-null float64
Cash_val          161874 non-null float64
Fixed Amt         161874 non-null float64
Var Amt           161874 non-null float64
Surr_prem         161874 non-null float64
Enhanced DB       161874 non-null float64
Reset DB          161874 non-null float64
Max               161874 non-null float64
Death             161874 non-null float64
Ist               161874 non-null object
REST              161874 non-null object
Comm Opt          161874 non-null object
GPAY              161874 non-null int64
IARY              161874 non-null int64
premium           161874 non-null float64
withdraw          161874 non-null float64
BD Channel        161874 non-null object
GIAFee            161874 non-null int64
GPAFee            161874 non-null int64
IARFee            161874 non-null int64
GIASubType        161874 non-null object
EEGSubType        161874 non-null object
GPASubType        161874 non-null object
IARSubType        161874 non-null object
Product           161874 non-null object
LOB               161874 non-null object
Valuation Year    161874 non-null int64
Qualification     161874 non-null object
Lapse             161874 non-null float64
Exposure          161874 non-null int64
dtypes: float64(12), int64(11), object(12)
memory usage: 44.5+ MB

# Data Preprocessing

In [6]:
# df['Iss_yr'] = df['Iss_yr'].astype('object')
# df['Iss_mo'] = df['Iss_mo'].astype('object')
# df['Gender'] = df['Gender'].astype('object')
# df['Ist'] = df['Ist'].astype('object')
# df['REST'] = df['REST'].astype('object')
# df['GPAY'] = df['GPAY'].astype('object')
# df['IARY'] = df['IARY'].astype('object')
# df['Valuation Year'] = df['Valuation Year'].astype('object')
# df.info()

df['Comm Opt'] = df['Comm Opt'].map(lambda x: "A" if x == "A" else "Non-A")
df['Ist'] = df['Ist'].map(lambda y: "NY" if y == "NY" else "Non-NY")
df['REST'] = df['REST'].map(lambda z: "NY" if z == "NY" else "Non-NY")

In [7]:
df['BD Channel'] = df['BD Channel'].map(lambda bd: bd if bd == "L P L FINANCIAL LLC" or 
                                        bd == "J P MORGAN SECURITIES LLC (CHASE)" or
                                        bd == "U S BANCORP INVESTMENTS INC" or
                                        bd == "MERRILL LYNCH PIERCE FENNER & SMITH" or
                                        bd == "FIFTH THIRD SECURITIES INC" or
                                        bd == "SAGEPOINT FINANCIAL INC" or
                                        bd == "WELLS FARGO ADVISORS LLC (WACPCG)" or
                                        bd == "RAYMOND JAMES FINANCIAL SERVICES INC" or
                                        bd == "P N C INVESTMENTS LLC (NAT)" or
                                        bd == "EDWARD JONES"
                                        else "Other"
                                       )
df['BD Channel'].unique()

array(['Other', 'WELLS FARGO ADVISORS LLC (WACPCG)', 'L P L FINANCIAL LLC',
       'MERRILL LYNCH PIERCE FENNER & SMITH', 'FIFTH THIRD SECURITIES INC',
       'U S BANCORP INVESTMENTS INC', 'SAGEPOINT FINANCIAL INC',
       'EDWARD JONES', 'RAYMOND JAMES FINANCIAL SERVICES INC',
       'P N C INVESTMENTS LLC (NAT)', 'J P MORGAN SECURITIES LLC (CHASE)'], dtype=object)

In [8]:
df['IARSubType'] = df['IARSubType'].map(lambda IAR: IAR if IAR == "N" or
                                       IAR == "SFLI" or
                                       IAR == "LIAP" or
                                       IAR == "IAR" or 
                                       IAR == "F10"
                                       else "Other")
df['IARSubType'].unique()

array(['Other', 'N', 'SFLI', 'F10', 'IAR', 'LIAP'], dtype=object)

In [10]:
df['Product'] = df['Product'].map(lambda Prod: "INNO SELECT" if 
                                  Prod == "INNO SELECT N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Journey Select B" if  
                                  Prod == "Journey Select NB"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Journey Select L" if 
                                  Prod == "Journey Select NL"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Pacific Choice Three" if 
                                  Prod == "Pacific Choice Three N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Pacific Value" if 
                                  Prod == "Pacific Value N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Pacific Value Edge" if 
                                  Prod == "Pacific Value Edge N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Portfolios" if 
                                  Prod == "Portfolios N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Voyages" if 
                                  Prod == "Voyages N"
                                 else Prod)
df['Product'].unique()

array(['Pacific Choice Three', 'Pacific Value', 'Voyages', 'Journey',
       'Portfolios', 'PSVA', 'INNO SELECT', 'Journey Select L',
       'Innovation', 'PSVA II'], dtype=object)

In [11]:
attained = []
duration = []
fundratio = []
varpercent = []
cashratio = []
deathinthemoney = []
for index, row in df.iterrows():
    aa = float(round(row['Iss_age'] + row['Valuation Year'] - row['Iss_yr'] + ((12 - row['Iss_mo'])/12),2))
    attained.append(aa)
    d = float(round(row['Valuation Year'] - row['Iss_yr'] + ((12 - row['Iss_mo'])/12),2))
    duration.append(d)
    try:
        fr = float(round((row['Fund_val']-row['Cash_val'])/row['Fund_val'],6))
    except:
        fr = 0
    fundratio.append(fr)
    vp = float(round(row['Var Amt']/(row['Var Amt'] + row['Fixed Amt']),6))
    varpercent.append(vp)
    try:
        cr = float(round(row['Cash_val']/(row['premium']-row['withdraw']),2))
    except:
        cr = 0
    cashratio.append(cr)
    try:
        dbitm = float(round(row['Death']/row['Cash_val'],2))
    except:
        dbitm = 0
    deathinthemoney.append(dbitm)
    
df['attained'] = attained
df['duration'] = duration
df['fundratio'] = fundratio
df['varpercent'] = varpercent
df['cashratio'] = cashratio
df['dbitm'] = deathinthemoney

In [12]:
df.to_csv('data.csv')

In [13]:
df['Iss_mo'] = df['Iss_mo'].astype('object')
X = df.drop(["Pol_num", "Exposure", "Lapse", "Iss_yr", "LOB", "Valuation Year", "GPAY", "IARY"], axis=1)
X = pd.get_dummies(X)
y = df['Lapse']
X.head()

,Iss_age,Gender,Fund_val,Cash_val,Fixed Amt,Var Amt,Surr_prem,Enhanced DB,Reset DB,Max,...,Product_Journey,Product_Journey Select L,Product_PSVA,Product_PSVA II,Product_Pacific Choice Three,Product_Pacific Value,Product_Portfolios,Product_Voyages,Qualification_N,Qualification_Q
0,80,1,33376.89,31971.36,0.0,33376.89,36356.93,34605.77,0.0,34605.77,...,0,0,0,0,1,0,0,0,0,1
1,67,1,92850.28,89615.38,0.0,92850.28,89858.31,89858.31,0.0,89858.31,...,0,0,0,0,1,0,0,0,0,1
2,63,2,66057.57,63753.57,0.0,66057.57,64000.00,64000.00,0.0,64000.00,...,0,0,0,0,1,0,0,0,0,1
3,76,1,794755.08,763168.31,0.0,794755.08,773243.70,773243.70,0.0,773243.70,...,0,0,0,0,1,0,0,0,1,0
4,64,1,51421.90,49507.11,0.0,51421.90,50000.00,50000.00,0.0,50000.00,...,0,0,0,0,1,0,0,0,0,1

In [14]:
X.columns

Index(['Iss_age', 'Gender', 'Fund_val', 'Cash_val', 'Fixed Amt', 'Var Amt',
       'Surr_prem', 'Enhanced DB', 'Reset DB', 'Max', 'Death', 'premium',
       'withdraw', 'GIAFee', 'GPAFee', 'IARFee', 'attained', 'duration',
       'fundratio', 'varpercent', 'cashratio', 'dbitm', 'Iss_mo_1', 'Iss_mo_2',
       'Iss_mo_3', 'Iss_mo_4', 'Iss_mo_5', 'Iss_mo_6', 'Iss_mo_7', 'Iss_mo_8',
       'Iss_mo_9', 'Iss_mo_10', 'Iss_mo_11', 'Iss_mo_12', 'Ist_NY',
       'Ist_Non-NY', 'REST_NY', 'REST_Non-NY', 'Comm Opt_A', 'Comm Opt_Non-A',
       'BD Channel_EDWARD JONES', 'BD Channel_FIFTH THIRD SECURITIES INC',
       'BD Channel_J P MORGAN SECURITIES LLC (CHASE)',
       'BD Channel_L P L FINANCIAL LLC',
       'BD Channel_MERRILL LYNCH PIERCE FENNER & SMITH', 'BD Channel_Other',
       'BD Channel_P N C INVESTMENTS LLC (NAT)',
       'BD Channel_RAYMOND JAMES FINANCIAL SERVICES INC',
       'BD Channel_SAGEPOINT FINANCIAL INC',
       'BD Channel_U S BANCORP INVESTMENTS INC',
       'BD Channel_WELLS FARGO ADVISORS LLC (WACPCG)', 'GIASubType_GIA',
       'GIASubType_GIA5', 'GIASubType_GIAP', 'GIASubType_N', 'EEGSubType_EEG',
       'EEGSubType_N', 'GPASubType_GPA', 'GPASubType_GPA3', 'GPASubType_GPA3S',
       'GPASubType_GPA5', 'GPASubType_N', 'IARSubType_F10', 'IARSubType_IAR',
       'IARSubType_LIAP', 'IARSubType_N', 'IARSubType_Other',
       'IARSubType_SFLI', 'Product_INNO SELECT', 'Product_Innovation',
       'Product_Journey', 'Product_Journey Select L', 'Product_PSVA',
       'Product_PSVA II', 'Product_Pacific Choice Three',
       'Product_Pacific Value', 'Product_Portfolios', 'Product_Voyages',
       'Qualification_N', 'Qualification_Q'],
      dtype='object')

In [17]:
print(X.shape, y.shape)

(161874, 80) (161874,)

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
from sklearn.naive_bayes import GaussianNB

# Initialize our classifier
gnb = GaussianNB()

# Train our classifier
model = gnb.fit(X_train, y_train)

preds = gnb.predict(X_test)
print(preds)

from sklearn.metrics import accuracy_score

# Evaluate accuracy
print(accuracy_score(y_test, preds))

[ 0.  0.  0. ...,  0.  0.  0.]
0.781487064173

In [20]:
count = 0
print (len(y_test))
print (len(preds))
y_test_list = []
for y in y_test:
    y_test_list.append(y)
# print (y_test_list)    
for x in np.arange(len(preds)):
    if int(preds[x]) == int(y_test_list[x]):
        count = count + 1
print (count)
print (float(count/len(y_test)))

40469
40469
31626
0.7814870641725765

In [21]:
zerozero = 0
zeroone = 0
onezero = 0
oneone = 0
print (len(y_test))
print (len(preds))
y_test_list = []
for y in y_test:
    y_test_list.append(y)
# print (y_test_list)    
for x in np.arange(len(preds)):
    if int(preds[x]) == 0 and int(y_test_list[x]) == 0:
        zerozero = zerozero + 1
    if int(preds[x]) == 0 and int(y_test_list[x]) == 1:
        zeroone = zeroone + 1
    if int(preds[x]) == 1 and int(y_test_list[x]) == 0:
        onezero = onezero + 1
    if int(preds[x]) == 1 and int(y_test_list[x]) == 1:
        oneone = oneone + 1
print (zerozero)
print (zeroone)
print (onezero)
print (oneone)

40469
40469
30654
3563
5280
972

In [ ]:

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

# Create Deep Learning Model

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

# Create model and add layers
model = Sequential()
model.add(Dense(units=500, activation='relu', input_dim=86))
model.add(Dense(units=500, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [ ]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=10,
    shuffle=True,
    verbose=1
)

# Quantify our Trained Model

In [ ]:
# train_model_loss, train_model_accuracy = model.evaluate(X_train_scaled, y_train_categorical, verbose=2)
test_model_loss, test_model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)

# print(f"Train Deep Neural Network - Loss: {train_model_loss}, Accuracy: {train_model_accuracy}")
print(f"Test Deep Neural Network - Loss: {test_model_loss}, Accuracy: {test_model_accuracy}")

In [ ]:
# Save the model
# model.save("models/deep_neural_model_trained.h5")

# Make Predictions

In [ ]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [ ]:
encoded_predictions

In [ ]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

# Get results of test data

In [ ]:
predicted_encoded = model.predict_classes(X_test_scaled)
predicted_label_column = label_encoder.inverse_transform(predicted_encoded)

In [ ]:
print(predicted_label_column, len(predicted_label_column))

In [ ]:
new_test_df = X_test
new_test_df["prediction"] = predicted_label_column
new_test_df.head()

In [ ]:
count = 0
print (len(y_test))
print (len(predicted_label_column))
y_test_list = []
for y in y_test:
    y_test_list.append(y)
# print (y_test_list)    
for x in np.arange(len(predicted_label_column)):
    if int(predicted_label_column[x]) == int(y_test_list[x]):
        count = count + 1
print (count)
print (float(count/len(y_test)))

In [ ]:
tally = 0
for number in y_test_list:
    if int(number) == 1:
        tally = tally + 1
print (tally)

In [ ]:
zerozero = 0
zeroone = 0
onezero = 0
oneone = 0
print (len(y_test))
print (len(predicted_label_column))
y_test_list = []
for y in y_test:
    y_test_list.append(y)
# print (y_test_list)    
for x in np.arange(len(predicted_label_column)):
    if int(predicted_label_column[x]) == 0 and int(y_test_list[x]) == 0:
        zerozero = zerozero + 1
    if int(predicted_label_column[x]) == 0 and int(y_test_list[x]) == 1:
        zeroone = zeroone + 1
    if int(predicted_label_column[x]) == 1 and int(y_test_list[x]) == 0:
        onezero = onezero + 1
    if int(predicted_label_column[x]) == 1 and int(y_test_list[x]) == 1:
        oneone = oneone + 1
print (zerozero)
print (zeroone)
print (onezero)
print (oneone)

# print (float(count/len(y_test)))

In [ ]:
from sklearn import tree

In [ ]:
data = df
data.head()

In [ ]:
target = df["Lapse"]
target_names = [0, 1]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

In [ ]:
dat