In [1]:
# Dependencies
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Public_Dataset.csv")
# print(len(df))
# dftest = df[pd.isnull(df['Lapse'])]
# print(len(dftest))
# df = df.dropna()
# print(len(df))

In [3]:
df.head()

,Pol_num,Iss_yr,Iss_mo,Iss_age,Gender,Fund_val,Cash_val,Fixed Amt,Var Amt,Surr_prem,...,GIASubType,EEGSubType,GPASubType,IARSubType,Product,LOB,Valuation Year,Qualification,Lapse,Exposure
0,VM13001002,2013,6,80,1,33376.89,31971.36,0.0,33376.89,36356.93,...,N,N,N,IARS,Pacific Choice Three,IRA,2016,Q,0.0,1
1,VM13001007,2013,8,67,1,92850.28,89615.38,0.0,92850.28,89858.31,...,N,N,N,N,Pacific Choice Three,ROC,2016,Q,0.0,1
2,VM13001014,2013,6,63,2,66057.57,63753.57,0.0,66057.57,64000.00,...,N,N,N,N,Pacific Choice Three,IRA,2016,Q,0.0,1
3,VM13001020,2013,6,76,1,794755.08,763168.31,0.0,794755.08,773243.70,...,N,N,N,N,Pacific Choice Three,NON,2016,N,0.0,1
4,VM13001021,2013,7,64,1,51421.90,49507.11,0.0,51421.90,50000.00,...,N,N,N,SCIAS,Pacific Choice Three,IRA,2016,Q,0.0,1

In [4]:
df.columns

Index(['Pol_num', 'Iss_yr', 'Iss_mo', 'Iss_age', 'Gender', 'Fund_val',
       'Cash_val', 'Fixed Amt', 'Var Amt', 'Surr_prem', 'Enhanced DB',
       'Reset DB', 'Max', 'Death', 'Ist', 'REST', 'Comm Opt', 'GPAY', 'IARY',
       'premium', 'withdraw', 'BD Channel', 'GIAFee', 'GPAFee', 'IARFee',
       'GIASubType', 'EEGSubType', 'GPASubType', 'IARSubType', 'Product',
       'LOB', 'Valuation Year', 'Qualification', 'Lapse', 'Exposure'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173272 entries, 0 to 173271
Data columns (total 35 columns):
Pol_num           173272 non-null object
Iss_yr            173272 non-null int64
Iss_mo            173272 non-null int64
Iss_age           173272 non-null int64
Gender            173272 non-null int64
Fund_val          173272 non-null float64
Cash_val          173272 non-null float64
Fixed Amt         173272 non-null float64
Var Amt           173272 non-null float64
Surr_prem         173272 non-null float64
Enhanced DB       173272 non-null float64
Reset DB          173272 non-null float64
Max               173272 non-null float64
Death             173272 non-null float64
Ist               173272 non-null object
REST              173272 non-null object
Comm Opt          173272 non-null object
GPAY              173272 non-null int64
IARY              173272 non-null int64
premium           173272 non-null float64
withdraw          173272 non-null float64
BD Channel        173272 non-null object
GIAFee            173272 non-null int64
GPAFee            173272 non-null int64
IARFee            173272 non-null int64
GIASubType        173272 non-null object
EEGSubType        173272 non-null object
GPASubType        173272 non-null object
IARSubType        173272 non-null object
Product           173272 non-null object
LOB               173272 non-null object
Valuation Year    173272 non-null int64
Qualification     173272 non-null object
Lapse             161874 non-null float64
Exposure          173272 non-null int64
dtypes: float64(12), int64(11), object(12)
memory usage: 46.3+ MB

# Data Preprocessing

In [6]:
# df['Iss_yr'] = df['Iss_yr'].astype('object')
# df['Iss_mo'] = df['Iss_mo'].astype('object')
# df['Gender'] = df['Gender'].astype('object')
# df['Ist'] = df['Ist'].astype('object')
# df['REST'] = df['REST'].astype('object')
# df['GPAY'] = df['GPAY'].astype('object')
# df['IARY'] = df['IARY'].astype('object')
# df['Valuation Year'] = df['Valuation Year'].astype('object')
# df.info()

df['Comm Opt'] = df['Comm Opt'].map(lambda x: "A" if x == "A" else "Non-A")
df['Ist'] = df['Ist'].map(lambda y: "NY" if y == "NY" else "Non-NY")
df['REST'] = df['REST'].map(lambda z: "NY" if z == "NY" else "Non-NY")

In [7]:
df['BD Channel'] = df['BD Channel'].map(lambda bd: bd if bd == "L P L FINANCIAL LLC" or 
                                        bd == "J P MORGAN SECURITIES LLC (CHASE)" or
                                        bd == "U S BANCORP INVESTMENTS INC" or
                                        bd == "MERRILL LYNCH PIERCE FENNER & SMITH" or
                                        bd == "FIFTH THIRD SECURITIES INC" or
                                        bd == "SAGEPOINT FINANCIAL INC" or
                                        bd == "WELLS FARGO ADVISORS LLC (WACPCG)" or
                                        bd == "RAYMOND JAMES FINANCIAL SERVICES INC" or
                                        bd == "P N C INVESTMENTS LLC (NAT)" or
                                        bd == "EDWARD JONES"
                                        else "Other"
                                       )
df['BD Channel'].unique()

array(['Other', 'WELLS FARGO ADVISORS LLC (WACPCG)', 'L P L FINANCIAL LLC',
       'MERRILL LYNCH PIERCE FENNER & SMITH', 'FIFTH THIRD SECURITIES INC',
       'U S BANCORP INVESTMENTS INC', 'SAGEPOINT FINANCIAL INC',
       'EDWARD JONES', 'RAYMOND JAMES FINANCIAL SERVICES INC',
       'P N C INVESTMENTS LLC (NAT)', 'J P MORGAN SECURITIES LLC (CHASE)'], dtype=object)

In [8]:
df['IARSubType'] = df['IARSubType'].map(lambda IAR: IAR if IAR == "N" or
                                       IAR == "SFLI" or
                                       IAR == "LIAP" or
                                       IAR == "IAR" or 
                                       IAR == "F10"
                                       else "Other")
df['IARSubType'].unique()

array(['Other', 'N', 'SFLI', 'F10', 'IAR', 'LIAP'], dtype=object)

In [9]:
df['Product'] = df['Product'].map(lambda Prod: "INNO SELECT" if 
                                  Prod == "INNO SELECT N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Journey Select B" if  
                                  Prod == "Journey Select NB"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Journey Select L" if 
                                  Prod == "Journey Select NL"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Pacific Choice Three" if 
                                  Prod == "Pacific Choice Three N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Pacific Value" if 
                                  Prod == "Pacific Value N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Pacific Value Edge" if 
                                  Prod == "Pacific Value Edge N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Portfolios" if 
                                  Prod == "Portfolios N"
                                 else Prod)
df['Product'] = df['Product'].map(lambda Prod: "Voyages" if 
                                  Prod == "Voyages N"
                                 else Prod)
df['Product'].unique()

array(['Pacific Choice Three', 'Pacific Value', 'Voyages', 'Journey',
       'Portfolios', 'PSVA', 'INNO SELECT', 'Journey Select L',
       'Innovation', 'PSVA II', 'Pacific Value Edge', 'Journey Select B'], dtype=object)

In [10]:
attained = []
duration = []
fundratio = []
varpercent = []
cashratio = []
deathinthemoney = []
for index, row in df.iterrows():
    aa = float(round(row['Iss_age'] + row['Valuation Year'] - row['Iss_yr'] + ((12 - row['Iss_mo'])/12),2))
    attained.append(aa)
    d = float(round(row['Valuation Year'] - row['Iss_yr'] + ((12 - row['Iss_mo'])/12),2))
    duration.append(d)
    try:
        fr = float(round((row['Fund_val']-row['Cash_val'])/row['Fund_val'],6))
    except:
        fr = 0
    fundratio.append(fr)
    vp = float(round(row['Var Amt']/(row['Var Amt'] + row['Fixed Amt']),6))
    varpercent.append(vp)
    try:
        cr = float(round(row['Cash_val']/(row['premium']-row['withdraw']),2))
    except:
        cr = 0
    cashratio.append(cr)
    try:
        dbitm = float(round(row['Death']/row['Cash_val'],2))
    except:
        dbitm = 0
    deathinthemoney.append(dbitm)
    
df['attained'] = attained
df['duration'] = duration
df['fundratio'] = fundratio
df['varpercent'] = varpercent
df['cashratio'] = cashratio
df['dbitm'] = deathinthemoney

In [11]:
df.to_csv('data.csv')

In [12]:
df['Iss_mo'] = df['Iss_mo'].astype('object')
print(len(df))
dftest = df[pd.isnull(df['Lapse'])]
Xnew = dftest.drop(["Pol_num", "Exposure", "Lapse", "Iss_yr", "LOB", "Valuation Year", "GPAY", "IARY"], axis=1)
Xnew = pd.get_dummies(Xnew)
print(len(Xnew))
df = df.dropna()
print(len(df))
X = df.drop(["Pol_num", "Exposure", "Lapse", "Iss_yr", "LOB", "Valuation Year", "GPAY", "IARY"], axis=1)
X = pd.get_dummies(X)
y = df['Lapse']
X.head()

173272
11398
161874

,Iss_age,Gender,Fund_val,Cash_val,Fixed Amt,Var Amt,Surr_prem,Enhanced DB,Reset DB,Max,...,Product_Journey,Product_Journey Select L,Product_PSVA,Product_PSVA II,Product_Pacific Choice Three,Product_Pacific Value,Product_Portfolios,Product_Voyages,Qualification_N,Qualification_Q
0,80,1,33376.89,31971.36,0.0,33376.89,36356.93,34605.77,0.0,34605.77,...,0,0,0,0,1,0,0,0,0,1
1,67,1,92850.28,89615.38,0.0,92850.28,89858.31,89858.31,0.0,89858.31,...,0,0,0,0,1,0,0,0,0,1
2,63,2,66057.57,63753.57,0.0,66057.57,64000.00,64000.00,0.0,64000.00,...,0,0,0,0,1,0,0,0,0,1
3,76,1,794755.08,763168.31,0.0,794755.08,773243.70,773243.70,0.0,773243.70,...,0,0,0,0,1,0,0,0,1,0
4,64,1,51421.90,49507.11,0.0,51421.90,50000.00,50000.00,0.0,50000.00,...,0,0,0,0,1,0,0,0,0,1

In [13]:
X['EEGSubType_EEDBO'] = 0
X['Product_Journey Select B'] = 0
X.columns

Index(['Iss_age', 'Gender', 'Fund_val', 'Cash_val', 'Fixed Amt', 'Var Amt',
       'Surr_prem', 'Enhanced DB', 'Reset DB', 'Max', 'Death', 'premium',
       'withdraw', 'GIAFee', 'GPAFee', 'IARFee', 'attained', 'duration',
       'fundratio', 'varpercent', 'cashratio', 'dbitm', 'Iss_mo_1', 'Iss_mo_2',
       'Iss_mo_3', 'Iss_mo_4', 'Iss_mo_5', 'Iss_mo_6', 'Iss_mo_7', 'Iss_mo_8',
       'Iss_mo_9', 'Iss_mo_10', 'Iss_mo_11', 'Iss_mo_12', 'Ist_NY',
       'Ist_Non-NY', 'REST_NY', 'REST_Non-NY', 'Comm Opt_A', 'Comm Opt_Non-A',
       'BD Channel_EDWARD JONES', 'BD Channel_FIFTH THIRD SECURITIES INC',
       'BD Channel_J P MORGAN SECURITIES LLC (CHASE)',
       'BD Channel_L P L FINANCIAL LLC',
       'BD Channel_MERRILL LYNCH PIERCE FENNER & SMITH', 'BD Channel_Other',
       'BD Channel_P N C INVESTMENTS LLC (NAT)',
       'BD Channel_RAYMOND JAMES FINANCIAL SERVICES INC',
       'BD Channel_SAGEPOINT FINANCIAL INC',
       'BD Channel_U S BANCORP INVESTMENTS INC',
       'BD Channel_WELLS FARGO ADVISORS LLC (WACPCG)', 'GIASubType_GIA',
       'GIASubType_GIA5', 'GIASubType_GIAP', 'GIASubType_N', 'EEGSubType_EEG',
       'EEGSubType_N', 'GPASubType_GPA', 'GPASubType_GPA3', 'GPASubType_GPA3S',
       'GPASubType_GPA5', 'GPASubType_N', 'IARSubType_F10', 'IARSubType_IAR',
       'IARSubType_LIAP', 'IARSubType_N', 'IARSubType_Other',
       'IARSubType_SFLI', 'Product_INNO SELECT', 'Product_Innovation',
       'Product_Journey', 'Product_Journey Select L', 'Product_PSVA',
       'Product_PSVA II', 'Product_Pacific Choice Three',
       'Product_Pacific Value', 'Product_Portfolios', 'Product_Voyages',
       'Qualification_N', 'Qualification_Q', 'EEGSubType_EEDBO',
       'Product_Journey Select B'],
      dtype='object')

In [14]:
Xnew.columns

Index(['Iss_age', 'Gender', 'Fund_val', 'Cash_val', 'Fixed Amt', 'Var Amt',
       'Surr_prem', 'Enhanced DB', 'Reset DB', 'Max', 'Death', 'premium',
       'withdraw', 'GIAFee', 'GPAFee', 'IARFee', 'attained', 'duration',
       'fundratio', 'varpercent', 'cashratio', 'dbitm', 'Iss_mo_1', 'Iss_mo_2',
       'Iss_mo_3', 'Iss_mo_4', 'Iss_mo_5', 'Iss_mo_6', 'Iss_mo_7', 'Iss_mo_8',
       'Iss_mo_9', 'Iss_mo_10', 'Iss_mo_11', 'Iss_mo_12', 'Ist_NY',
       'Ist_Non-NY', 'REST_NY', 'REST_Non-NY', 'Comm Opt_A', 'Comm Opt_Non-A',
       'BD Channel_EDWARD JONES', 'BD Channel_FIFTH THIRD SECURITIES INC',
       'BD Channel_J P MORGAN SECURITIES LLC (CHASE)',
       'BD Channel_L P L FINANCIAL LLC',
       'BD Channel_MERRILL LYNCH PIERCE FENNER & SMITH', 'BD Channel_Other',
       'BD Channel_P N C INVESTMENTS LLC (NAT)',
       'BD Channel_RAYMOND JAMES FINANCIAL SERVICES INC',
       'BD Channel_SAGEPOINT FINANCIAL INC',
       'BD Channel_U S BANCORP INVESTMENTS INC', 'GIASubType_GIAP',
       'GIASubType_N', 'EEGSubType_EEDBO', 'EEGSubType_EEG', 'EEGSubType_N',
       'GPASubType_GPA3', 'GPASubType_GPA3S', 'GPASubType_GPA5',
       'GPASubType_N', 'IARSubType_F10', 'IARSubType_IAR', 'IARSubType_N',
       'IARSubType_Other', 'IARSubType_SFLI', 'Product_INNO SELECT',
       'Product_Innovation', 'Product_Journey Select B',
       'Product_Journey Select L', 'Product_PSVA',
       'Product_Pacific Choice Three', 'Product_Pacific Value',
       'Product_Pacific Value Edge', 'Product_Portfolios', 'Product_Voyages',
       'Qualification_N', 'Qualification_Q'],
      dtype='object')

In [15]:
Xnew['BD Channel_WELLS FARGO ADVISORS LLC (WACPCG)'] = 0
Xnew['GIASubType_GIA5'] = 0
Xnew['GIASubType_GIA'] = 0
Xnew['GPASubType_GPA'] = 0
Xnew['IARSubType_LIAP'] = 0
Xnew['Product_Journey'] = 0
Xnew

,Iss_age,Gender,Fund_val,Cash_val,Fixed Amt,Var Amt,Surr_prem,Enhanced DB,Reset DB,Max,...,Product_Portfolios,Product_Voyages,Qualification_N,Qualification_Q,BD Channel_WELLS FARGO ADVISORS LLC (WACPCG),GIASubType_GIA5,GIASubType_GIA,GPASubType_GPA,IARSubType_LIAP,Product_Journey
161874,56,1,241059.11,234276.95,0.0,241059.11,188393.20,188393.20,0.00,188393.20,...,0,0,1,0,0,0,0,0,0,0
161875,60,2,13151.68,13135.73,0.0,13151.68,13029.14,12999.16,12999.16,12999.16,...,0,0,0,1,0,0,0,0,0,0
161876,79,2,118937.27,117983.99,0.0,118937.27,105920.52,105920.52,0.00,105920.52,...,0,1,1,0,0,0,0,0,0,0
161877,64,2,68642.35,67996.70,0.0,68642.35,68552.49,55318.96,0.00,55318.96,...,0,1,0,1,0,0,0,0,0,0
161878,70,2,33911.45,32659.56,0.0,33911.45,31877.67,31877.67,0.00,31877.67,...,0,0,0,1,0,0,0,0,0,0
161879,80,2,157795.77,156338.77,0.0,157795.77,151441.37,125872.84,0.00,125872.84,...,0,1,0,1,0,0,0,0,0,0
161880,50,2,23359.23,22512.07,0.0,23359.23,22427.48,22427.48,0.00,22427.48,...,0,0,0,1,0,0,0,0,0,0
161881,66,2,50213.23,49872.56,0.0,50213.23,37852.03,37852.03,49176.84,49176.84,...,0,1,0,1,0,0,0,0,0,0
161882,59,2,205942.20,200453.38,0.0,205942.20,150000.00,150000.00,0.00,150000.00,...,0,0,1,0,0,0,0,0,0,0
161883,44,1,57701.72,54381.76,0.0,57701.72,53076.26,53076.26,57880.94,57880.94,...,0,0,0,1,0,0,0,0,0,0
161884,66,1,60368.54,59821.90,0.0,60368.54,50000.00,50000.00,0.00,50000.00,...,0,1,0,1,0,0,0,0,0,0
161885,60,2,104828.08,104272.19,0.0,104828.08,61904.08,64624.49,0.00,64624.49,...,0,0,0,1,0,0,0,0,0,0
161886,62,2,21815.80,20968.20,0.0,21815.80,21923.93,21507.50,0.00,21507.50,...,0,0,0,1,0,0,0,0,0,0
161887,69,1,132788.82,131279.28,0.0,132788.82,108910.56,104794.89,0.00,104794.89,...,0,1,1,0,0,0,0,0,0,0
161888,40,1,116897.76,112772.76,0.0,116897.76,112500.00,99510.68,0.00,99510.68,...,0,1,1,0,0,0,0,0,0,0
161889,60,2,236310.92,234822.20,0.0,236310.92,150000.00,150000.00,0.00,150000.00,...,0,1,0,1,0,0,0,0,0,0
161890,61,2,58918.59,58504.14,0.0,58918.59,46050.11,46050.11,0.00,46050.11,...,0,1,0,1,0,0,0,0,0,0
161891,52,2,288462.62,286162.89,0.0,288462.62,200000.00,200000.00,0.00,200000.00,...,0,1,1,0,0,0,0,0,0,0
161892,63,2,21221.67,20995.66,0.0,21221.67,20670.30,17297.72,0.00,17297.72,...,0,1,0,1,0,0,0,0,0,0
161893,68,2,172154.82,170529.80,0.0,172154.82,167449.17,133946.27,0.00,133946.27,...,0,1,0,1,0,0,0,0,0,0
161894,58,1,245662.30,240658.32,0.0,245662.30,211983.54,211983.54,0.00,211983.54,...,0,1,0,1,0,0,0,0,0,0
161895,62,1,8265.15,8043.56,0.0,8265.15,6000.00,6000.00,0.00,6000.00,...,0,0,0,1,0,0,0,0,0,0
161896,48,1,29064.95,28259.94,0.0,29064.95,19766.33,19766.33,0.00,19766.33,...,0,0,0,1,0,0,0,0,0,0
161897,43,2,129339.52,127695.55,0.0,129339.52,96023.73,96023.73,0.00,96023.73,...,0,1,1,0,0,0,0,0,0,0
161898,63,2,127178.56,126004.50,0.0,127178.56,119419.31,98005.50,0.00,98005.50,...,0,1,0,1,0,0,0,0,0,0
161899,54,1,14592.02,14391.56,0.0,14592.02,11008.02,11008.02,0.00,11008.02,...,0,1,0,1,0,0,0,0,0,0
161900,59,1,145751.25,142513.82,0.0,145751.25,93164.05,105720.83,0.00,105720.83,...,0,0,0,1,0,0,0,0,0,0
161901,55,2,201858.45,193394.84,0.0,201858.45,149125.44,149125.44,0.00,149125.44,...,0,0,0,1,0,0,0,0,0,0
161902,49,2,16909.16,16243.14,0.0,16909.16,17461.57,17461.57,0.00,17461.57,...,0,0,0,1,0,0,0,0,0,0
161903,69,2,88014.71,87333.79,0.0,88014.71,73804.66,76909.06,0.00,76909.06,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173242,61,1,17394.92,16838.15,0.0,17394.92,12671.53,12671.53,17291.35,17291.35,...,0,0,0,1,0,0,0,0,0,0
173243,74,1,209841.91,207953.48,0.0,209841.91,206391.05,166454.06,0.00,166454.06,...,0,1,0,1,0,0,0,0,0,0
173244,60,2,12724.65,12265.65,0.0,12724.65,8311.70,9646.84,0.00,9646.84,...,0,0,0,1,0,0,0,0,0,0
173245,25,1,956.94,869.45,0.0,956.94,1031.62,1031.62,1031.62,1031.62,...,0,0,0,1,0,0,0,0,0,0
173246,59,2,54518.18,53070.31,0.0,54518.18,40000.00,40000.00,53896.05,53896.05,...,0,0,1,0,0,0,0,0,0,0
173247,51,2,22790.85,22539.77,0.0,22790.85,20000.00,20000.00,23102.71,23102.71,...,0,1,0,1,0,0,0,0,0,0
173248,70,1,123742.24,121831.02,0.0,123742.24,118786.19,98048.76,0.00,98048.76,...,0,1,0,1,0,0,0,0,0,0
173249,46,2,34589.86,34256.59,0.0,34589.86,25000.00,25000.00,0.00,25000.00,...,0,1,1,0,0,0,0,0,0,0
173250,58,1,111173.86,110442.74,0.0,111173.86,80307.06,80307.06,0.00,80307.06,...,0,1,0,1,0,0,0,0,0,0
173251,64,1,28855.65,28616.97,0.0,28855.65,23405.99,23405.99,0.00,23405.99,...,0,1,0,1,0,0,0,0,0,0
173252,64,1,52574.50,51110.58,0.0,52574.50,37299.68,37844.52,0.00,37844.52,...,0,0,0,1,0,0,0,0,0,0
173253,70,2,182418.24,175202.04,0.0,182418.24,182524.47,178343.47,0.00,178343.47,...,0,0,0,1,0,0,0,0,0,0
173254,59,1,124910.27,120701.53,0.0,124910.27,113942.81,113942.81,0.00,113942.81,...,0,0,0,1,0,0,0,0,0,0
173255,60,2,36087.50,35686.05,0.0,36087.50,30000.00,27956.33,0.00,27956.33,...,0,1,1,0,0,0,0,0,0,0
173256,55,1,27261.95,26339.51,0.0,27261.95,25000.00,25000.00,0.00,25000.00,...,0,0,1,0,0,0,0,0,0,0
173257,63,1,47791.38,47123.77,0.0,47791.38,40000.00,38610.07,0.00,38610.07,...,0,1,1,0,0,0,0,0,0,0
173258,56,2,143113.22,137170.26,0.0,143113.22,119022.96,119022.96,145048.85,145048.85,...,0,0,0,1,0,0,0,0,0,0
173259,67,1,15418.72,15191.47,0.0,15418.72,13500.00,13500.00,0.00,13500.00,...,0,1,1,0,0,0,0,0,0,0
173260,49,1,50515.03,49904.13,0.0,50515.03,40000.00,40000.00,0.00,40000.00,...,0,1,1,0,0,0,0,0,0,0
173261,63,1,358796.80,354858.29,0.0,358796.80,223215.29,232207.22,343592.55,343592.55,...,0,0,0,1,0,0,0,0,0,0
173262,73,1,205152.92,196474.32,0.0,205152.92,206473.43,204659.31,205815.77,205815.77,...,0,0,0,1,0,0,0,0,0,0
173263,54,1,96517.31,95809.91,0.0,96517.31,78599.55,78599.55,94341.40,94341.40,...,0,1,0,1,0,0,0,0,0,0
173264,75,2,145539.38,141179.30,0.0,145539.38,117644.28,117644.28,145677.21,145677.21,...,0,0,1,0,0,0,0,0,0,0
173265,63,1,256350.24,254434.16,0.0,256350.24,191760.49,181268.03,0.00,181268.03,...,0,1,0,1,0,0,0,0,0,0
173266,72,1,54453.97,52613.82,0.0,54453.97,50000.00,50000.00,0.00,50000.00,...,0,0,1,0,0,0,0,0,0,0
173267,69,2,82757.70,81902.41,0.0,82757.70,82834.21,70393.57,0.00,70393.57,...,0,1,1,0,0,0,0,0,0,0
173268,74,1,267591.27,257243.56,0.0,267591.27,274376.75,268075.50,0.00,268075.50,...,0,0,1,0,0,0,0,0,0,0
173269,57,1,157416.68,156516.68,0.0,157416.68,100000.00,100000.00,159943.05,159943.05,...,0,0,1,0,0,0,0,0,0,0
173270,61,2,627886.45,610260.70,0.0,627886.45,432377.87,437986.94,0.00,437986.94,...,0,0,0,1,0,0,0,0,0,0
173271,53,2,77189.18,74354.27,0.0,77189.18,75000.92,75000.92,0.00,75000.92,...,0,0,1,0,0,0,0,0,0,0

In [16]:
print(X.shape, y.shape, Xnew.shape)

(161874, 82) (161874,) (11398, 82)

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)
# X_scaler = StandardScaler().fit(X_train)
# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)

Using TensorFlow backend.

In [22]:
from sklearn.naive_bayes import GaussianNB

# Initialize our classifier
gnb = GaussianNB()

# Train our classifier
model = gnb.fit(X_train, y_train)

preds = model.predict(X_test)
print(preds)

from sklearn.metrics import accuracy_score

# Evaluate accuracy
print(accuracy_score(y_test, preds))

[ 0.  0.  0. ...,  0.  0.  0.]
0.781487064173

In [19]:
count = 0
print (len(y_test))
print (len(preds))
y_test_list = []
for y in y_test:
    y_test_list.append(y)
# print (y_test_list)    
for x in np.arange(len(preds)):
    if int(preds[x]) == int(y_test_list[x]):
        count = count + 1
print (count)
print (float(count/len(y_test)))

40469
40469
31626
0.7814870641725765

In [20]:
zerozero = 0
zeroone = 0
onezero = 0
oneone = 0
print (len(y_test))
print (len(preds))
y_test_list = []
for y in y_test:
    y_test_list.append(y)
# print (y_test_list)    
for x in np.arange(len(preds)):
    if int(preds[x]) == 0 and int(y_test_list[x]) == 0:
        zerozero = zerozero + 1
    if int(preds[x]) == 0 and int(y_test_list[x]) == 1:
        zeroone = zeroone + 1
    if int(preds[x]) == 1 and int(y_test_list[x]) == 0:
        onezero = onezero + 1
    if int(preds[x]) == 1 and int(y_test_list[x]) == 1:
        oneone = oneone + 1
print (zerozero)
print (zeroone)
print (onezero)
print (oneone)

40469
40469
30654
3563
5280
972

In [25]:
predsnew = model.predict(Xnew)
print (predsnew)
print (len(predsnew))

lapsecount = 0 
for number in predsnew:
    if number == 1:
        lapsecount = lapsecount + 1
print (lapsecount/len(predsnew))

[ 0.  0.  0. ...,  0.  1.  0.]
11398
0.27575013160203543

In [26]:
Xnew['lapse prediction'] = predsnew
Xnew.head()

,Iss_age,Gender,Fund_val,Cash_val,Fixed Amt,Var Amt,Surr_prem,Enhanced DB,Reset DB,Max,...,Product_Voyages,Qualification_N,Qualification_Q,BD Channel_WELLS FARGO ADVISORS LLC (WACPCG),GIASubType_GIA5,GIASubType_GIA,GPASubType_GPA,IARSubType_LIAP,Product_Journey,lapse prediction
161874,56,1,241059.11,234276.95,0.0,241059.11,188393.20,188393.20,0.00,188393.20,...,0,1,0,0,0,0,0,0,0,0.0
161875,60,2,13151.68,13135.73,0.0,13151.68,13029.14,12999.16,12999.16,12999.16,...,0,0,1,0,0,0,0,0,0,0.0
161876,79,2,118937.27,117983.99,0.0,118937.27,105920.52,105920.52,0.00,105920.52,...,1,1,0,0,0,0,0,0,0,0.0
161877,64,2,68642.35,67996.70,0.0,68642.35,68552.49,55318.96,0.00,55318.96,...,1,0,1,0,0,0,0,0,0,0.0
161878,70,2,33911.45,32659.56,0.0,33911.45,31877.67,31877.67,0.00,31877.67,...,0,0,1,0,0,0,0,0,0,1.0

In [27]:
Xnew.to_csv('prediction.csv')